{% load bootstrap3 %}
{% load static%}

<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">

 {% block styles %}
 {% bootstrap_css %}
 <link rel="stylesheet" href="{% static 'css/photos.css' %}">
 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Sniglet" rel="stylesheet">
 {% endblock %}


</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" style="font-family: 'Playfair Display', serif; font-family: 'Sniglet', cursive;" href="{% url 'home' %}">Ingramgram</a>
          </div>
          <ul class="nav navbar-nav">

              <form class="navbar-form navbar-left" action="{% url 'search_results' %}" style="margin-top:30px; padding-left:400px; padding-right:400px;">
                  <div class="form-group">
                    <input type="text" class="form-control" style="font-family: 'Playfair Display', serif; font-family: 'Sniglet', cursive;" placeholder="Search">
                  </div>
                  <button type="submit" class="btn btn-default" style="font-family: 'Playfair Display', serif; font-family: 'Sniglet', cursive;"><i class="fa fa-search"></i></button>
                </form>

              <li class="active">
                  <a  href="/admin" style="font-family: 'Playfair Display', serif; font-family: 'Sniglet', cursive;" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
                  <i class="fa fa-user-plus" style="font-size:36px"></i>
                  <p>ADMIN</p>
                </a>
              </li>

            <li>
            <a  href="/accounts/register"  style="font-family: 'Playfair Display', serif; font-family: 'Sniglet', cursive;" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
                <i class="fa fa-pencil-square-o" style="font-size:36px"></i>
                <p>REGISTER</p>
              </a>
            </li>

            <li>
                <a  href="/accounts/login"  style="font-family: 'Playfair Display', serif; font-family: 'Sniglet', cursive;" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
                    <i class="fa fa-sign-in" style="font-size:36px"></i>
                    <p>LOGIN</p>
                  </a>
                </li>

                <li>
                    <a  href="/logout"  style="font-family: 'Playfair Display', serif; font-family: 'Sniglet', cursive;" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
                        <i class="fa fa-sign-out" style="font-size:36px"></i>
                        <p>LOGOUT</p>
                      </a>
                    </li>    

                    <li>
                        <a  href="{% url 'profile' %}" style="font-family: 'Playfair Display', serif; font-family: 'Sniglet', cursive;" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
                            <i class="fa fa-user" style="font-size:36px"></i>
                            <p>PROFILE</p>
                          </a>
                        </li>         

            <li>
              <a  href="{% url 'upload_image' %}" style="font-family: 'Playfair Display', serif; font-family: 'Sniglet', cursive;" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
              <i class="fa fa-camera-retro" style="font-size:36px"></i>
              <p>ADD PHOTO</p>
            </a>
          </li>
           
            
          
          </ul>
        
          
        </div>
      </nav>
        
 
 {% block content %}
 
 {% include "index.html" %}

 

 
  {%endblock%}

 {% block scripts %}
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     
  {% bootstrap_javascript %}
 {% endblock %}

 
</body>
</html>