{% extends 'base.html' %}
{% block content %}
<h1>Hello World</h1>

{% for image in images %}
<div class="panel panel-default">
        

    <div class="panel-heading">
            
            {%if image.poster.profile.profile_photo %}
            <h3 class=""> <img src="{{ image.poster.profile.profile_photo.url }}" style="width:70px;height:70px; border-radius: 50%;" alt="image"></h3>
            {%else %}
            <h3 class=""> <img src="/static/images/default.jpeg" style="width:70px;height:70px; border-radius: 50%;" alt="image"></h3>
            {%endif%}
        <p>{{ image.poster }}</p>
    </div>
    <div class="panel-body">
        
        <img src="{{ image.image.url }}">
        <p>{{ image.pub_date }} </p>
    <form action="{% url 'like_image' %}" method="POST">
            {% csrf_token %}
            
            {%if is_liked%}
            <button type="submit" name="image_id" value="{{ post.id }}" class="button"><i onclick="myFunction(this)" class="fa fa-heart-o fa-2x" style="font-size:24px;"></i>Dislike</button>
            {%else%}
            <button type="submit" name="image_id" value="{{image.id}}" class="button"> <i onclick="myFunction(this)" class="fa fa-heart-o "></i>Like </button> <h3></h3>
            {%endif%}
            <p>Likes:</p>
    </form>
        <i class="fa fa-comment-o" style="font-size:24px"></i>
        <p>Comments:</p>
        
    </div>

  </div>

  {%endfor%}
  <script>
        function myFunction(x) {
          x.classList.toggle("fa-thumbs-down");
        }
        </script>
        </body>
{% endblock %}