{% extends "index.html" %}

{% load bootstrap3 %}
{% block content %}

<div class="content-section">
        <div class="media">
          <img class="rounded-circle account-img" src="{{ user.profile.profile_photo.url }}" alt="ppic">
          <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
            <p class="text-secondary">{{ user.user_bio }}</p>
          </div>
        </div>
        <!-- FORM HERE -->
      </div>

      {% endblock %}