{%extends "registration/base.html"%}
 {% load bootstrap3 %}
{% block content %}
<style>
.help-block, label[for="title"] {
  position:absolute;
  display: none;
}
</style>
<img src="/static/images/camera.jpg" style="width:100%; height:400px; margin-top:0px;" >

<div class="container" style="font-family: 'Playfair Display', serif; font-family: 'Sniglet', cursive;">
  <div class="row">
 
      <div class=" col-md-4" style="margin-top:50px; width:5rem; margin-left:20rem;"></div>
      <div class="col-6 col-sm-6 col-md-4 col-lg-6" style="margin-top:60px;">
      
      {% if form.errors %}
        <p> Some Information Might be Incorrect </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="text-center" style="font-family: 'Playfair Display', serif; font-family: 'Sniglet', cursive;">Sign Up</h3>
        </div>
        <div class="panel-body">

          <form  action="/accounts/register/" method="post" style="font-family: 'Playfair Display', serif; font-family: 'Sniglet', cursive;">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-sm" style="font-family: 'Playfair Display', serif;font-family: 'Sniglet', cursive; border-radius:40px; font-size:15px;" value="Sign Up">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>

        </div>

      </div>

    </div>
    <!-- empty div -->
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock %}